@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Sawarabi+Gothic&display=swap');

@font-face {src: url('./assets/Berthold\ Akzidenz\ Grotesk\ Extended.otf'); font-family: atf; }

@font-face {src: url('./assets/Akzidenz-grotesk-light.ttf');font-family: atf-main;}

body{
    margin: 0;
}

@keyframes pop-up {
    0%{
        transform: scale(.2);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes alert {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


@keyframes width-fill{
    0%{
        width: 0%;
        height: 6px;
    }
    75%{
        width: 100%;
        height: 6px;
    }
    100%{
        width: 100%;
        height: 0px;
    }
}

@keyframes height-fill{
    0%{
        height: 0%;
        width: 6px;
    }
    75%{
        height: 100%;
        width: 6px;
    }
    100%{
        height: 100%;
        width: 0px;
    }
}


.background {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;

    background-image: radial-gradient(circle at top, transparent 50%, #000), url(./assets/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    position: relative;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 75px;
}

.logo {
    padding: 0;
    margin: 20px 1em 0;
    
    font-family: 'Abril Fatface', cursive;
    font-size: 2.7em;
    text-shadow: -.8px -.8px 0 yellow, -1.6px -1.6px 0 rgb(235, 55, 109),  -2.4px -2.4px 0 cyan;
    color: white;
    text-decoration: none;
}

.title {
    position: absolute;
    bottom: 30px;
    left: 1em;
    max-width: 1070px;

    color: white;
    font-family: 'atf-main', sans-serif;
    font-size: 60px;
    font-weight: 300;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 50px 10px;
    
}

.searchbox {
    height: 40px;
    outline: none;
    max-width: 700px;
    width: 100%;

    font-family: atf-main;
    font-size: 30px;

    border: none;
    border-bottom: 1px solid black;
}

.search-go {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 50%;
    border: 1.8px solid black;
    position: relative;
    transform: rotate(-50deg);
    cursor: pointer;
}

.search-go::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 55%;
    background-color: black;
    top: 100%;
    left: 40%;
}

.results {
    margin: 30px 5%;
    display: inline-block;
    min-height: 460px;

}

.results-title {
    font-family: atf-main;
    font-size: 50px;
    cursor: pointer;
    transition: all .3s ease;
}

.results-title:hover {
    transition: all .3s ease;
    color: rgb(100, 100, 100);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: white;

    display: flex;
    justify-content: center;
    z-index: 99;
    align-items: center;

    animation: pop-up .3s;
}

.poster {
    margin: 0 70px 0 100px;
}

.pop-title {
    font-family: atf-main;
    font-size: 35px;
    margin-bottom: 50px;
}

.info {
    position: relative;
    width: 60%;
    margin-right: 100px;
    min-height: 450px;
}

.details {
    border-bottom: black solid .8px;
    margin-bottom: 110px;
    padding-bottom: 40px;
}

.line {
    display: flex;
}

.directed-by {
    margin-right: 100px;
}

.starring {
    margin-top: 50px;
}

.subtitle {
    font-family: atf;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
}

.content {
    font-family: atf-main;
    font-size: 25px;
    font-weight: bold;
}

.plot {
    display: inline-block;
    font-family: atf-main;
    font-size: 20px;
    font-weight: bold;
    max-width: 500px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 10px;
    /* margin-bottom: 5px; */
}

.close {
    margin-top: 70px;
    margin-right: 10px;
    display: inline-block;
    width: 35px;
    height: 2px;
    background-color: transparent;
    transition: all .5s ease-in-out;
}

.close-container {
    cursor: pointer;
    position: relative;
    bottom: 260px;
    right: 30px;
    height: 50px;


}

.close::before,
.close::after {
    content: '';
    width: 35px;
    height: 2px;
    background-color: black;
    display: inline-block;
    transition: all .5s ease-in-out;
    position: absolute;
    top: 50%;

}

.close::before {
    transform: rotate(45deg);
}

.close::after {
    transform: rotate(-45deg);
}

.alert {
    display: flex;
    justify-content: center;
}

.alert-content {
    border: rgb(253, 0, 0) .5px solid;
    min-width: 250px;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    background-color: rgb(252, 228, 223);
    color: red;
    font-family: atf-main;
    font-size: 13px;

    animation: alert .3s;
}




.up {
 
    position: absolute;
    top: 0em;
    left: 0;
    animation: width-fill 2s;
    z-index: 90;
    
}

.right {

    position: absolute;
    top: 0;
    right: 0;
    animation: height-fill 2s;
    z-index: 90;
    
}

.down {
  
    position: absolute;
    bottom: 0em;
    right: 0;
    animation: width-fill 2s;
    z-index: 90;
    
}

.left {

    position: absolute;
    bottom: 0;
    left: 0;
    animation: height-fill 2s;
    z-index: 90;
    
}